.flexContainer{
    
    display: flex ;
    justify-content: space-between;
    font-size: 50px;
    font-family:'Courier New', Courier, monospace
}
#main-content{
    background-color: white;
    font-size: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
    text-align: center;
}


#ja{
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}
.plaatje{
    width: 500px;
    height: 500px;
}