p {
    font-size: x-large;
}
#flex {
    display: flex;
}
.images {
    width: 50%;
    margin-top: 50px;
}
#main-content {
    background-color: white;
}
h2 {
    font-size:xx-large;
    margin-top: 50px;
}
#main-wrapper {
    width: 100%;
    height: 100%;
    margin: 20px;

}