p {
    font-size: x-large;
}

#flex {
    display: flex;
}

#main-content {
    background-color: white;
}

h2 {
    font-size: x-large;
    margin-top: 50px;
}

#main-wrapper {
    width: 100%;
    height: 100%;
    margin: 20px;
}

.images {
    width: 20%;
    margin-top: 20px;
    height: 200px;
}

.images2 {
    width: 20%;
    margin-top: 20px;
    display: inline;
    margin: auto;

}

.images3 {
    width: 100%;
}